# Q1

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()
b()
b()
a

6

This is becasue when execute function b it calls function c where a+2 happens. As is declared globally and initially its value is zero everytime we call b 2 gets added to it. So 2+2+2 becomes 6 when try to see the value of a

# Q2

In [5]:
import os 
os.getcwd()

'C:\\Users\\Akshay\\Desktop\\Big data\\Data Programming BDAT1004\\Week 05 Notebook\\Week 05 Notebook'

In [6]:
def file_length(file_name):
    try:
    
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
        
    except:
        print('Please enter filename which is present in the directory')

In [7]:
file_length('akshay.txt')

Please enter filename which is present in the directory

In [8]:
file_length('yo.txt')

38


# Q3

In [9]:
class Marsupial(object):
    def __init__(self):
        self.lst = []
    
    def put_in_pouch(self, thing):
        self.lst.append(thing)
        
    def pouch_contents(self):
        return self.lst
    
class Kangaro:
    
    def __init__(self, x=0, y=0):
        'initialize coordinates to (xcoord, ycoord)'
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        'change the x and y coordinates by dx and dy'
        self.x += dx
        self.y += dy

    def __repr__(self):
        'kangaroo trying'
        return 'I am a Kangaroo located at point({}, {})'.format(self.x, self.y)

In [10]:
k=Kangaro(0,0)
print(k)

I am a Kangaroo located at point(0, 0)

In [11]:
k=Kangaro()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at point(3, 0)

# Q4

In [32]:
def collatz(number):
    if number == 1:
        print(number)
    while number != 1:
            if number % 2 == 0:           
                result = number // 2
                print(result) 
                number = result
            elif number % 2 == 1:       
                result = 3 * number + 1
                print(result)
                number = result

In [33]:
collatz(1)

1

In [34]:
collatz(10)

5
16
8
4
2
1

# Q5

In [35]:
def binary(n):
 
    if (n > 1):
        binary(n >> 1)
    print(n & 1, end="")

In [36]:
binary(0)

0

In [37]:
binary(1)

1

In [38]:
binary(3)

11

In [39]:
binary(9)

1001

# Q6

In [40]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    inHeading = False
    extra = ""
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.inHeading = True
        elif tag == "h2":
            self.inHeading = True 
            self.extra += "  " 
    def handle_data(self, data):
        if self.inHeading:
            print(self.extra,data)
    def handle_endtag(self, tag):
        if tag =="h1":
            self.inHeading = False
        if tag =="h2":
            self.inHeading = False

In [41]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

 W3C Mission
   Principles

# Q7

In [62]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

In [63]:
url = 'http://www.w3.org/Consortium/mission.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector()
collector.feed(content)
collector.getLinks()

TypeError: __init__() missing 1 required positional argument: 'url'

# Q8

In [42]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\akshay\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\akshay\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\akshay\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: sqlparse in c:\users\akshay\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in c:\users\akshay\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: prettytable<1 in c:\users\akshay\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\akshay\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\akshay\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: jedi>=0.16 in c:\users\akshay\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: pickleshare in c:\users\akshay\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\akshay\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: matplotlib-inline in c:\users\akshay\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\akshay\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\akshay\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: pygments in c:\users\akshay\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\akshay\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: backcall in c:\users\akshay\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\akshay\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\akshay\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\akshay\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [ ]:
import	csv,	sqlite3										
												
con	=	sqlite3.connect("sqlite:Data.db")	#	change	to	'sqlite:///your_filename.db'						
cur	=	con.cursor()										
cur.execute("CREATE	TABLE	t4	(City,Country,Season,Temperature,Rainfall);")	#	use	your	column	names	here			
												
with	open('Data.csv','r')	as	fin:	#	`with`	statement	available	in	2.5+			
	#	csv.DictReader	uses	first	line	in	file	for	column	headings	by	default
	dr	=	csv.DictReader(fin)	#	comma	is	default	delimiter				
	to_db	=	[(i['City'],	i['Country'],	i['Season'],	i['Temperature'],	i['Rainfall'])	for	i	in	dr]	
												
cur.executemany("INSERT	INTO	t4	(City,Country,Season,Temperature,Rainfall)	VALUES	(?,	?,	?,	?,	?);",	to_db)		
con.commit()												
con.close()

### 8a

In [44]:
import sqlite3
con	=	sqlite3.connect("sqlite:Data.db")
cur = con.cursor()
cur.execute('SELECT * FROM t4')
cur.fetchall()

[('Mumbai', 'India', 'Winter', '24.8', '5.9'),
 ('Mumbai', 'India', 'Spring', '28.4', '16.2'),
 ('Mumbai', 'India', 'Summer', '27.9', '1549.4'),
 ('Mumbai', 'India', 'Fall', '27.6', '346'),
 ('London', 'United', 'Winter', '4.2', '207.7'),
 ('London', 'United', 'Spring', '8.3', '169.6'),
 ('London', 'United', 'Summer', '15.7', '157'),
 ('London', 'United', 'Fall', '10.4', '218.5'),
 ('Cairo', 'Egypt', 'Winter', '13.6', '16.5'),
 ('Cairo', 'Egypt', 'Spring', '20.7', '6.5'),
 ('Cairo', 'Egypt', 'Summer', '27.7', '0.1'),
 ('Cairo', 'Egypt', 'Fall', '22.2', '4.5')]

### 8b

In [45]:
import sqlite3
con	=	sqlite3.connect("sqlite:Data.db")
cur = con.cursor()
cur.execute('SELECT Temperature FROM t4')
cur.fetchall()

[('24.8',),
 ('28.4',),
 ('27.9',),
 ('27.6',),
 ('4.2',),
 ('8.3',),
 ('15.7',),
 ('10.4',),
 ('13.6',),
 ('20.7',),
 ('27.7',),
 ('22.2',)]

### 8c

In [47]:
import sqlite3
con	=	sqlite3.connect("sqlite:Data.db")
cur = con.cursor()
cur.execute('SELECT DISTINCT City FROM t4')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

### 8d

import sqlite3
con	=	sqlite3.connect("sqlite:Data.db")
cur = con.cursor()
cur.execute('SELECT * FROM t4 WHERE Country = "India"')
cur.fetchall()

### 8e

In [50]:
import sqlite3
con	=	sqlite3.connect("sqlite:Data.db")
cur = con.cursor()
cur.execute('SELECT City,Country,Season, AVG(Rainfall) as avg_rain FROM t4 GROUP BY City,Country,Season HAVING (avg_rain > 200 AND avg_rain < 400) ')
cur.fetchall()

[('London', 'United', 'Fall', 218.5),
 ('London', 'United', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

### 8f

In [51]:
import sqlite3
con	=	sqlite3.connect("sqlite:Data.db")
cur = con.cursor()
cur.execute('SELECT City,Country, AVG(Temperature) as avg_temp FROM t4 WHERE Season = "Fall" GROUP BY City,Country HAVING (avg_temp > 20) order by avg_temp ASC ')
cur.fetchall()

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

### 8g

In [52]:
import sqlite3
con	=	sqlite3.connect("sqlite:Data.db")
cur = con.cursor()
cur.execute('SELECT City,SUM(Rainfall) FROM t4 WHERE City = "Cairo" GROUP BY City ')
cur.fetchall()

[('Cairo', 27.6)]

### 8h

In [53]:
import sqlite3
con	=	sqlite3.connect("sqlite:Data.db")
cur = con.cursor()
cur.execute('SELECT Season, SUM(Rainfall) as tot_rain FROM t4 GROUP BY Season ')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Q9

### 9a

In [54]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
for i in range(len(words)):
    words[i] = words[i].upper()
    
print(words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

### 9b

In [55]:
for i in range(len(words)):
    words[i] = words[i].lower()
    
print(words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### 9c

In [57]:
for i in range(len(words)):
    words[i] = len(words[i])
    
print(words)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

### 9d

In [60]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
for i in range(len(words)):
    mini=[]
    major=[]
    for i in range(len(words)):
        mini.append(words[i].upper())
        mini.append(words[i].lower())
        mini.append(len(words[i])) 
        major.append(mini)

        
print(mini)

['THE', 'the', 3, 'QUICK', 'quick', 5, 'BROWN', 'brown', 5, 'FOX', 'fox', 3, 'JUMPS', 'jumps', 5, 'OVER', 'over', 4, 'THE', 'the', 3, 'LAZY', 'lazy', 4, 'DOG', 'dog', 3]

### 9e

In [61]:
for i in range(len(words)):
    mini=[]
    for i in range(len(words)):
        if len(words[i]) >= 4 :
            
            mini.append(words[i])
print(mini)

['quick', 'brown', 'jumps', 'over', 'lazy']